@model TheEvent.DAL.Entities.Profile
@{
    ViewData["Title"] = "Şifre Değiştir";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content-wrapper">
    <h3 class="page-title"> Şifre Değiştir </h3>
    <form method="post">
        <input type="hidden" asp-for="ProfileId" />

        <label>Mevcut Şifre</label>
        <input asp-for="CurrentPasword" type="password" class="form-control" />
        <span asp-validation-for="CurrentPasword" class="text-danger"></span>
        <br />

        <label>Yeni Şifre</label>
        <input asp-for="NewPasword" type="password" class="form-control" />
        <br />

        <label>Yeni Şifre (Tekrar)</label>
        <input asp-for="ConfirmPasword" type="password" class="form-control" />
        <span asp-validation-for="ConfirmPasword" class="text-danger"></span>
        <br />

        <button class="btn btn-warning">Şifreyi Güncelle</button>
        <a href="/Profile/Index/Index" class="btn btn-light">İptal</a>
    </form>
</div>
