@model List<TheEvent.DAL.Entities.Speaker>

<section id="speakers" class="speakers section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Konuşmacılarımız<br></h2>

    </div><!-- End Section Title -->

    <div class="container">

        <div class="row gy-4">
            @foreach (var item in Model)
            {

                <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="member">
                    <img src="@item.ImageUrl" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4><a href="speaker-details.html">@item.Title</a></h4>
                            <span>@item.Description</span>
                        </div>
                        <div class="social">
                            <a href=""><i class="bi bi-twitter-x"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div><!-- End Team Member -->
            }

        </div>

    </div>

</section>