@model TheEvent.DAL.Entities.Gallery

@{
    ViewData["Title"] = "AddGallery";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title"> Galeri Ekleme Sayfası </h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Ekleme İşlemi</a></li>
                <li class="breadcrumb-item active" aria-current="page">Galeri</li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        <label>Görsel Yükle</label>
                        <input type="file" asp-for="ImageFile" class="form-control" />
                        <span asp-validation-for="ImageFile" class="text-danger"></span>
                        <br />
                        <button class="btn btn-primary">
                            <i class="fa fa-save"></i> Kaydet
                        </button>
                        <a href="/Gallery/Index" class="btn btn-light">İptal</a>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
