@model List<TheEvent.DAL.Entities.About>

<div class="about-info mt-auto position-relative">

    <div class="container position-relative" data-aos="fade-up">
    @foreach (var item in Model)
    {
        <div class="row">

            <div class="col-lg-6">
                <h2>@item.Title</h2>
                <p>
                        @item.Description
                </p>
            </div>
            <div class="col-lg-3">
                <h3>Nerede?</h3>
                    <p>@item.Adres</p>
            </div>
            <div class="col-lg-3">
                <h3>Ne Zaman?</h3>
                    <p>@item.Time</p>
            </div>
    
        </div>
    }
    </div>
</div>