@model List<TheEvent.DAL.Entities.Hotel>

<section id="hotels" class="hotels section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Oteller</h2>
        <p>Etkinliğe katılım için rahatlıkla konaklayabileceğiniz en yakın oteller.</p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row gy-4">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="card h-100">
                        <div class="card-img">
                            <img src="@item.ImageUrl" alt="" class="img-fluid">
                        </div>
                        <h3><a href="#" class="stretched-link">@item.Title</a></h3>
                        <div class="stars">
                            @for (int i = 0; i < item.raiting; i++)
                            {
                                <i class="bi bi-star-fill"></i>
                            }
                        </div>
                        <p>@item.Description</p>
                    </div>
                </div>


                <!-- End Card Item -->
            }
        </div>

    </div>

</section>